Source: subvertpy
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Jelmer Vernooĳ <jelmer@debian.org>,
           Antoine R. Dumont (@ardumont) <antoine.romain.dumont@gmail.com>
Homepage: http://samba.org/~jelmer/subvertpy
Build-Depends: debhelper (>= 8.1.0),
               libsvn-dev,
               python3-all (>= 3.4.2),
               python3-all-dev (>= 3.4.2),
               python3-all-dbg (>= 3.4.2),
               python3-docutils,
               python3-testtools
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/python-modules/packages/subvertpy.git
XS-Testsuite: autopkgtest
X-Python3-Version: >= 3.4

Package: python3-subvertpy
Architecture: any
Conflicts: bzr-svn (<< 0.5.0~rc2~)
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Provides: ${python3:Provides}
Suggests: python3-subvertpy-dbg
Description: Alternative Python3 bindings for Subversion
 Python3 bindings for the Subversion version control system. The aim of
 these bindings is to be fast, complete and to provide an API that feels native
 to Python programmers.
 .
 This also includes an experimental server-side implementation of the
 Subversion protocol.

Package: python3-subvertpy-dbg
Architecture: any
Conflicts: bzr-svn (<< 0.5.0~rc2~)
Priority: extra
Section: debug
Recommends: libapr1-dbg, libaprutil1-dbg, python3-dbg
Provides: ${python3:Provides}
Depends: python3-subvertpy (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Alternative Python3 bindings for Subversion - Debugging Symbols
 Python3 bindings for the Subversion version control system. The aim of
 these bindings is to be fast, complete and to provide an API that feels native
 to Python programmers.
 .
 This package contains the debug extension for python3.
