#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) -Wno-deprecated-declarations
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

# Get the supported Python versions
PY3VERS = $(shell py3versions -r -v)
# Get the default Python version
PY3VERSION = $(shell py3versions -d -v)

# Callable functions to determine the correct PYTHONPATH
pythonpath = $$(ls -d $(CURDIR)/build/lib.*-$(1))
pythonpath_dbg = $$(ls -d $(CURDIR)/build/lib_d.*-$(1) 2>/dev/null || ls -d $(CURDIR)/build/lib.*$(1)-pydebug)

export HOME=$(CURDIR)/nonexistent

%:
	CPPFLAGS="$(CPPFLAGS)" CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)" \
	LDFLAGS="$(LDFLAGS)" dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	# Install everything excluding the *_d.so debug extensions to python3-subvertpy
	dh_install -X"*_d.so" "debian/tmp/*" -p python3-subvertpy
	# Install the debug extensions to python-subvertpy-dbg
	# dh_install "debian/tmp/usr/lib/python3*/*-packages/subvertpy/*_d.so" -p python3-subvertpy-dbg
	# mkdir -p debian/python3-subvertpy/usr/share/doc/python3-subvertpy
	# mv apidocs debian/python3-subvertpy/usr/share/doc/python3-subvertpy/api

override_dh_installdocs:
	dh_installdocs --link-doc=python3-subvertpy

override_dh_auto_test:


override_dh_strip:
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip --dbg-package=python3-subvertpy-dbg
endif
